<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Know about me</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""><b>01 : Home</b></a></li>
          <li><a href="./works.html" title=""><b>02 : Works</b></a></li>
          <li><a href="./about.html" title=""><b>03 : About me</b></a></li>
          <li><a href="./contact.html" title=""><b>04 : Contact</b></a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>HARI KRISHNA GUJJE</h3>
                  <p>I am currently working as a Entry level Developer in the TATA CONSULTANCY SERVICES. I have 2 years of experience in Application support. I love developing web applications using python.</p>
                  <h3>Personal Projects </h3>
                  <p>1. PawnedPassword: This project will check whether your password is leaked in any of the
                    social security breaches all over the world.</p>
                  <p>2. WebScrappingHN: I have a habit of reading technical news to update with fast growing technology.
                    So, I did web scrapping on popular hackernews website and pulled the data which is only to my interests.
                    This way I can save time and I only read what I want to read.</p>
                  <p>I saved all my repositories here : <b>https://github.com/harikrishna-gujje</b></p>
                  <h3>Work Experience</h3>
                  <p> We developed an application where Western Union can manage their agents in 7 countries. The application mainly has lead, approval, maintanance and deletion.
                    In the lead flow, Enrollment process is done for the agents.
                    In the approval flow, There will be several account, company, compliance, training, opertors, terminals, commission, contract like checks will be done.
                    In the maintanance flow, We will support the agent if he wants to change the structure of commission, operators.. etc
                    In the deletion flow, Agents will be deleted
                    <ul>
                    <li>Served as primary point-of-contact for user inquiries, promptly investigating issues and solving concerns.</li>
                    <li>Received, tracked, and accurately fixed technical issues for agents in approval and maintanance flow on a daily basis.</li>
                    <li>Created users and gave access to them based on their roles.</li>
                </ul>
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/IMG_3005.JPG" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>