<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>My Works</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""><b>01 : Home</b></a></li>
          <li><a href="./works.html" title=""><b>02 : Works</b></a></li>
          <li><a href="./about.html" title=""><b>03 : About me</b></a></li>
          <li><a href="./contact.html" title=""><b>04 : Contact</b></a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <p>I am currently working as a Entry level Developer in the TATA CONSULTANCY SERVICES. I have 2 years of experience in Application support. I love developing web applications using python.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="https://github.com/harikrishna-gujje" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                        </a>
                      <div class="card-container card-container-lg">
                        <h4>001/003</h4>
                        <h3> PawnedPassword </h3>
                        <p>This project will check whether your password is leaked in any of the
                    social security breaches all over the world.</p>
                        <a href="https://github.com/harikrishna-gujje" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/harikrishna-gujje" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work02-hover.jpg" alt="" class="img-responsive">
                        </a>
                      <div class="card-container card-container-lg">
                        <h4>002/003</h4>
                        <h3> WebScrappingHN </h3>
                        <p>This project is about web scrapping on popular hackernews website and pulled the data which is only to my interests.
                    This way I can save time and I only read what I want to read.</p>
                        <a href="https://github.com/harikrishna-gujje" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/harikrishna-gujje" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/003</h4>
                        <h3>Live ISS location</h3>
                        <p>This project will give us the exact location of the International space station on world map.</p>
                        <a href="https://github.com/harikrishna-gujje" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->

            <!--/item-->
        </div>
        <!--/carousel-inner--> 

     </div>
    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>